<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">¡Bienvenidos!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/inicio-sesion">
            <img id="icono" src="../../../assets/iconoLogin.png" width="20" height="20" class="d-inline-block align-text-top">
            Inicio de sesion
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Registro
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/registro']" routerLinkActive="router-link-active" >Registro de cliente</a></li>
            <li><a class="dropdown-item" [routerLink]="['/registroProductores']" routerLinkActive="router-link-active" >Registro de productor</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a class="navbar-brand" [routerLink]="['/404']" routerLinkActive="router-link-active" >
      <img id="carrito" src="../../../assets/Imagen6.png" width="60" height="30" class="d-inline-block align-text-top">
      Carrito
    </a>
  </div>
</nav>