.botonGuardar{
  text-align: center;
  border-bottom: 5px;
  border-radius: 20px;
  width: flex;
  margin-top: 15px;
}
.col-md-6{
  margin-bottom: 15px;
  margin-top: 15px;
}
.col-md-12{
  margin-top: 5px;
  margin-bottom: 15px;
}
.col-6{
  margin-top: 15px;
  margin-bottom: 15px;
}
