<form class="row g-3">
  <div class="row g-3">
    <div class="col-md-6">
      <label for="inputNombreCliente" class="form-label"> Nombre </label>
      <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
    </div>
    <div class="col-md-6">
      <label for="inputApellidoCliente" class="form-label"> Apellido </label>
      <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido">
    </div>
  </div>
  <div class="col-md-12">
    <label for="inputEmailCliente" class="form-label">Email</label>
    <input type="email" class="form-control" id="emailCliente" placeholder="usuario@email.com">
  </div>
  <div class="col-12">
    <label for="inputDireccionCliente" class="form-label">Direccion</label>
    <input type="text" class="form-control" id="inputDireccionCliente" placeholder="P. Sherman Calle Wallaby 42">
  </div>
  <div class="col-md-12">
    <label for="inputCiudadCliente" class="form-label">Ciudad</label>
    <input type="text" class="form-control" id="inputCiudadCliente" placeholder="Bogotá">
  </div>
  <div class="col-12">
    <label for="inputTelefonoCliente" class="form-label">Telefono</label>
    <input type="text" class="form-control" id="inputTelefonoCliente" placeholder="1233456">
  </div>
  <div class="col-md-12">
    <label for="passwordCliente" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="passwordCliente">
  </div>
</form>
