<div class="backgrond">
  <div class="container">
    <div class="registro">
      <h1 class="titulo">Registro de cliente<span class="badge bg-secondary"></span> </h1>
      <img src="../../../assets/login_adobespark.png" alt="" class="imagen">
      <form [formGroup]="formGroup">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="inputNombre"class="form-label">Nombre</label>
            <input type="Nombre" class="form-control" id="inputNombre" placeholder="Juan" formControlName='nombre'>
          </div>
          <div class="col-md-6">
            <label for="inputTextl4" class="form-label">Apellido</label>
            <input type="apellido" class="form-control" id="inputApellido" placeholder="Perez" formControlName='apellido'>
          </div>
        </div>
        <div class="row g-3">
          <div class="form-group col-md-6">
            <label for="inputTelefono"class="form-label" >Teléfono</label>
            <input type="telefono" class="form-control" id="inputTelefono" placeholder="1234562" formControlName='telefono'>
          </div>
          <div class="form-group col-md-6">
            <label for="inputDireccion"class="form-label">Dirección</label>
            <input type="text" class="form-control" id="inputDireccion" placeholder="P. Sherman Wallaby 42" formControlName='direccion'>
          </div>
        </div>
        <div class="col-md-12">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="usuario@email.com" formControlName='email'>
        </div>
        <div class="col-md-12">
          <label for="inputPassword" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword" formControlName="*********" formControlName='password'>
        </div>
        <div class="col-12 boton">
          <button type="submit" class="btn btn-primary" (click)="CrearCliente()">Completar Registro</button>
        </div>
      </form>
    </div>
  </div>
</div>
