.backgrond{
    background-image: url("https://www.1zoom.me/big2/51/222957-Sepik.jpg");
    height: 650px;
    width: 1350px;
}
.container{
    position: relative;
    top: 20px;
    left: 40px;
    width: 590px;
    height: 540px;
    background-color: rgb(22, 22, 22);
}
.titulo{
    color: white;
    text-align: center;
}
.imagen{
    
    height: 150px;
    margin:auto;
    display:block;
}
.boton{
    text-align: center;
}

#logo{
    position: relative;
    top: 30px;
    width: 320px;
    height: 200px;
}
#columnas{
    position: relative;
    top: 40px;
}

#inicio{
    position: relative;
    top: 20px;
    align-content: flex-end;
    color: beige;
}
.col{
    color: beige;
}
.form-label{
    color:beige;
}
#botones{
    position: relative;
    top: 90px;
}
   
    