.container{
    position: relative;
    top: 15px;
    left: 40px;
    width: 550px;
    height: 570px;
    background-color: rgb(22, 22, 22);
}
h1{
    position: relative;
    top: 10px;
    text-align: center;
    color: beige;
}
.backgrond{
    height: 596px;
    background-image: url(../../../assets/anzuelo.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;

}
#logo{
    position: relative;
    top: 8px;
    left: 110px;
    width: 300px;
    height: 200px;
}

.form-label{
    color:beige;
}
#botones{
    position: relative;
    left: 180px;
}