<h1>Registrate<span class="badge bg-secondary"></span></h1>

  <form class="row g-3">
    <div class="col-md-2">
        <label for="inputZip" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-md-2">
        <label for="inputZip" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Direción</label>
        <input type="text" class="form-control" id="inputAddress" >
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Digite su numero telefonico">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Poblacion</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      
    
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>