<div class="backgrond"> 
  <div class="container">
    <div class="registro">
      <h1>Registro de cliente<span class="badge bg-secondary"></span> </h1>
      <img id="logo" src="../../../assets/login.png">
      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputNombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="inputNombre" formControlName="nombre">
        </div>
        <div class="col-md-6">
          <label for="insputApellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="inputApellido" formControlName="apellido">
        </div>
        <div class="col-md-6">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail" formControlName="email">
        </div>
        <div class="col-md-6">
          <label for="inputPassword" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword" formControlName="contrasena">
        </div>
        <div class="col-md-6">
          <label for="inputtelefono" class="form-label">Teléfono</label>
          <input type="telefono" class="form-control" id="inputTelefono" formControlName="telefono">
        </div>
        <div class="col-md-6">
          <label for="inputDireccion" class="form-label">Dirección</label>
          <input type="text" class="form-control" id="inputDireccion" formControlName="direccion">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary" id="botones">Completar Registro</button>
        </div>
      </form>
    </div>
  </div>
</div>