<app-administradores-mainpage></app-administradores-mainpage>

<h2> Productos actualmente registrados en la pagina. </h2>

<div class="container">
  <app-boton-modal-agregar-producto></app-boton-modal-agregar-producto>
</div>

<div class="tablaproductos">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id del producto</th>
        <th scope="col">Nombre del producto</th>
        <th scope="col">Categoria del producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Id del productor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <th scope="row">{{producto.id_producto}}</th>
        <td>{{producto.nombre_producto}}</td>
        <td>{{producto.categoria_producto}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.id_productor}}</td>
        <td><button type="button" class="btn btn-danger"(click)="eliminarProducto(producto.id_producto)">Eliminar</button></td>
        <td><button type="button" class="btn btn-info">Cambiar datos</button></td>
      </tr>
    </tbody>
  </table>
</div>
