#tabla{
    width: 600px;
    position: relative;
    top: 130px;
    left: 430px;

}
h6{
    text-align: center;
}
td{
    text-align: center;
}
#fondo{
    height: 596px;
    background-image: url(https://i.blogs.es/37ba66/trabajar-en-el-campo/1366_2000.jpg);
    background-size: 1400px;
}