#tabla{
    border: black;
    background-color:darkgray;
    width: 600px;
    position: relative;
    top: 90px;
    left: 430px;

}
h6{
    text-align: center;
}
td{
    text-align: center;
}
#fondo{
    height: 596px;
    background-image: url(https://www.comunidad.madrid/sites/default/files/styles/image_style_16_9/public/img/profesiones/agricultura_campo.jpg?itok=2CiTBOfb);
    background-size: 1370px;
}
#boton{
    position: relative;
    top: 120px;
    left: 680px;
}