.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.conteiner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#imagen{
    width: 1366px;
}