<h1 id="title"> Bienvenido Carlos </h1>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-clientes-tab" data-bs-toggle="tab" data-bs-target="#nav-clientes" type="button" role="tab" aria-controls="nav-clientes" aria-selected="true">Clientes</button>
    <button class="nav-link" id="nav-productores-tab" data-bs-toggle="tab" data-bs-target="#nav-productores" type="button" role="tab" aria-controls="nav-productores" aria-selected="false">Productores</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Productos</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-clientes" role="tabpanel" aria-labelledby="nav-clientes-tab"><app-tabla-clientes-admin></app-tabla-clientes-admin></div>
  <div class="tab-pane fade" id="nav-productores" role="tabpanel" aria-labelledby="nav-productores-tab"><app-tabla-productores-admin></app-tabla-productores-admin></div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"><app-tabla-productos-admin></app-tabla-productos-admin></div>
</div>
