<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1 align="center"> ¿Quienes Somos? </H1>
    <br>
    <a href="./index.html">Regresa a inicio</a>

    <br>
    
    <input type="submit" name="boton1" value="Preguntas frecuentes/"    > 
    <input type="submit" name="boton2" value="Envios y devoluciones/"   > 
    <input type="submit" name="boton3" value="Politicas de la tienda/"  > 
    <input type="submit" name="boton4" value="Metodos de pago/"    > 







</body>
</html>