<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaginaPrincipal</title>
</head>
<body>
 <H1 align="center"> Más X Menos </H1>

    <div style="text-align: right">
        
        <a href="Carrito.html"> <img src="https://thumbs.dreamstime.com/b/vector-del-icono-carro-de-compras-137282150.jpg" wide="50" height="50"></a>
        
    </div>

        <a href="Buscar.html"> <img src="https://thumbs.dreamstime.com/b/imagen-del-vector-de-buscar-el-bot%C3%B3n-126909396.jpg"wide= "50" height="50"></a>
        

<img src="" alt="">


    
<br>
    <a href="./Tienda.html">Tienda</a>
    <br>
    <a href="./Acercade.html">Acerca de</a>
    
</body>
</html>