<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/styleInicio.css" rel="stylesheet" type="text/css">
    <title>Inicio de Sesión</title>
</head>
<body>
    <table class="default" align="center" >
        <tbody style="border:hidden">
        <tr>
            <td height="50" width="150"><h1><FONT FACE="roman">Inicio de sesión</FONT></h1></td>
        </tr>
        
        <tr>
           <td><img src="C:/Users/USUARIO/Desktop/Programación/5ciclo/AppWebGrupo1/imagenes/inicio.jpg" width="210" height="200"></td>
        </tr>
        
        <tr>
            <td><div align="left"><h2><FONT FACE="roman">Email</FONT></h2></div></td>
        </tr>
    
        <tr>
            <td><input type="email" /></td>
        </tr>
    
        <tr>
            <td><div align="left"><h2><FONT FACE="roman">Contraseña</FONT></h2></div></td>
        </tr>
    
         <tr>
            <td><input type="password" /></td>
            <td><button onclick="myFunction()"><img src="https://i.pinimg.com/originals/a3/89/05/a38905d13a5311dde99a16e72adab1a4.png" width="20" height="20"></button></td>
        </tr>
        
        <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
        
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td><div align="right"><button onclick="location.href='tienda.html'"><img src="https://img.icons8.com/plasticine/2x/26e07f/circled-chevron-right.png" width="40" height="40"></button></div></td>
        </tr>

        </tbody>
      </table>
      
      
</body>
</html>