<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <table class="default" align="center" >
        <tbody style="background-color: white; border: 1px solid white;">
        <tr>
            <td></td><td></td><td></td><td></td>
            <td><div align="center"><h1><FONT FACE="roman">Registro</FONT></h1></div></td>
        </tr>
        
        <tr>
            <td></td><td></td><td></td><td></td>
           <td><img src="https://st2.depositphotos.com/1423984/9446/v/450/depositphotos_94466120-stock-illustration-user-login-or-authenticate-icon.jpg" width="210" height="200"></td>
        </tr>
        
        <tr>
            <td><div align="left"><h2><FONT FACE="roman">Nombre</FONT></h2></div></td>
            <td></td><td></td><td></td><td></td>
            <td><div align="left"><h2><FONT FACE="roman">Apellido</FONT></h2></div></td>
        </tr>
    
        <tr>
            <td><input type="text" /></td>
            <td></td><td></td><td></td><td></td>
            <td><input type="text" /></td>
        </tr>
    
        <tr>
            <td><div align="left"><h2><FONT FACE="roman">Email</FONT></h2></div></td>
            <td></td><td></td><td></td><td></td>
            <td><div align="left"><h2><FONT FACE="roman">Contraseña</FONT></h2></div></td>
        </tr>
    
         <tr>
            <td><input type="email" /></td>
            <td></td><td></td><td></td><td></td>
            <td><input type="password" /></td>
            <td><button onclick="myFunction()"><img src="https://i.pinimg.com/originals/a3/89/05/a38905d13a5311dde99a16e72adab1a4.png" width="20" height="20"></button></td>
        </tr>
        
        <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
        
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td><div align="right"><button onclick="location.href='tienda.html'"><img src="https://img.icons8.com/plasticine/2x/26e07f/circled-chevron-right.png" width="40" height="40"></button></div></td>
        </tr>
   
</body>
</html>