<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto" id="columinicio">
        <h1 id="inicio">Inicio de sesión</h1>
      </div>
      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Tipo de usuario</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Cliente/Vender">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">Tipo de usuario</label>
          <select id="inputState" class="form-select">
            <option selected>Escoger...</option>
            <option>Cliente</option>
            <option>Vendedor</option>
          </select>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Recordarme
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
      </form>
    </div>
  </div>