.container{
    width: 700px;
    height: 500px;
    background-color: rgb(22, 22, 22);
}
h1{
    align-content: flex-end;
    color: beige;
}
.col{
    color: beige;
}
.form-label{
    color:beige;
}