<app-administradores-mainpage></app-administradores-mainpage>

<h2> Productores actualmente registrados en la pagina. </h2>

<div class="container">
  <app-boton-modal-agregar-productor></app-boton-modal-agregar-productor>
</div>

<div class="tablaproductores">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Poblacion</th>
        <th scope="col">Direccion</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col">Contraseña</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productor of productores">
        <th scope="row">{{productor.id_productor}}</th>
        <td>{{productor.nombre}}</td>
        <td>{{productor.apellido}}</td>
        <td>{{productor.poblacion}}</td>
        <td>{{productor.direccion}}</td>
        <td>{{productor.telefono}}</td>
        <td>{{productor.email}}</td>
        <td>{{productor.password}}</td>
        <td><button type="button" class="btn btn-danger">Eliminar</button></td>
        <td><button type="button" class="btn btn-info">Editar</button></td>
      </tr>
    </tbody>
  </table>
</div>
