<h2> Clientes actualmente registrados en la pagina. </h2>

<div class="tablaclientes">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Direccion</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col">Contraseña</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <th scope="row">{{cliente.id_cliente}}</th>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.direccion}}</td>
        <td>{{cliente.telefono}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.password}}</td>
      </tr>
    </tbody>
  </table>
</div>
